name: Build Docker Image
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version:
          - 0.19.0.1
          - 0.18.1
          - 0.18.0
          - 0.17.2
          - 0.17.1
          - 0.17.0.1
          - 0.17.0
          - 0.16.3
          - 0.15.2
          - 0.14.3
          - 0.13.2
          - 0.13.1
          - 0.13.0
    steps:
      - uses: actions/checkout@v1
      - name: Build lukechilds/bitcoind
        run: docker build --build-arg VERSION=${{ matrix.version }} -t lukechilds/bitcoind:v${{ matrix.version }} .
      - name: Log image data
        run: docker images lukechilds/bitcoind
      - name: Check bitcoind -version
        run: (docker run lukechilds/bitcoind:v${{ matrix.version }} -version | tee /dev/stderr | grep -q ${{ matrix.version }}) 2>&1
